<p>
  VehiculoDetalle works!
</p>

<!-- 
<p *ngIf="!vehiculo">
  {{ vehiculo.marca }}
</p>
<form [formGroup]="formulario">
  <div class="row">
    <div class="mb-3">
      <label class="form-label">Código</label>
      <input type="text" class="form-control" formControlName="codigo">
      <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.required">Valor Requerido</span><br>
      <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.codigoValidate">Solo acepta dígitos</span>
    </div>

    <div class="mb-3">
      <label class="form-label">Marca</label>
      <input type="text" class="form-control" formControlName="marca">
    </div>

    <div class="mb-3">
      <label class="form-label">Modelo</label>
      <input type="text" class="form-control" formControlName="modelo">
    </div>

    <div class="mb-3">
      <label class="form-label">Año</label>
      <input type="text" class="form-control" formControlName="anio">
    </div>

    <div class="mb-3">
      <label class="form-label">Kilometraje</label>
      <input type="text" class="form-control" formControlName="kilometraje">
    </div>

    <div class="mb-3">
      <label class="form-label">Precio</label>
      <input type="text" class="form-control" formControlName="precio">
    </div>

    <div class="mb-3">
      <label class="form-label">Calificación</label>
      <input type="text" class="form-control" formControlName="calificacion">
    </div>
    <div class="row">
      <div class="col-3">
        <button class="btn btn-info" (click)="guardar()">Guardar</button>
      </div>
    </div>
    </form>


  
 -->