<div class="card">
  <div class="card-header">
    Creación de Vehículo
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-12">
        <form [formGroup]="formulario">
        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Código:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="codigo" formControlName="codigo">
            <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.['required']">Valor Requerido</span><br>
            <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.['codigoValidate']">Una letra seguida de cuatro digitos numericos</span>
          </div>
        </div>
        
        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Confirmar Código:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="codigo" formControlName="codigo_confirm">
            <span class="text-danger" *ngIf="formulario.errors?.['codigo_comparativo']">No son iguales</span>
          </div>
        </div>


        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Marca:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="marca" formControlName="marca">
          </div>
        </div>
        
        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Modelo:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="modelo" formControlName="modelo">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Color:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="color" formControlName="color">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Año:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="anio" formControlName="anio">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Kilometraje:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="kilometraje" formControlName="kilometraje">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Precio:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="staticCodigo" name="precio" formControlName="precio">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Calificación:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="staticCodigo" name="calificacion" formControlName="calificacion">
          </div>
        </div>
      </form>

      </div>

      <div class="row">
        <div class="col-3">
        <button type="button" class="btn btn-info" (click)="guardar()">Guardar</button>
        </div>
    </div>
  </div>
</div>




<!--

eso es con ngmodel

  <div class="card">
  <div class="card-header">
    Creación de Vehículo
  </div>
  <div class="card-body">
    <div class="row">

      <div class="col-12">
        <form [formGroup]="formulario">
        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Código:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="codigo" formControlName="codigo" [(ngModel)]="vehiculo.codigo">
          </div>
        </div>
        
        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Marca:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="marca" formControlName="marca" [(ngModel)]="vehiculo.marca">
          </div>
        </div>
        
        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Modelo:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="modelo" formControlName="modelo" [(ngModel)]="vehiculo.modelo">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Color:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="color" formControlName="color" [(ngModel)]="vehiculo.color">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Año:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="anio" formControlName="anio" [(ngModel)]="vehiculo.anio">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Kilometraje:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="staticCodigo" name="kilometraje" formControlName="kilometraje" [(ngModel)]="vehiculo.kilometraje">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Precio:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="staticCodigo" name="precio" formControlName="precio" [(ngModel)]="vehiculo.precio">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="staticCodigo" class="col-sm-2 col-form-label">Calificación:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="staticCodigo" name="calificacion" formControlName="calificacion" [(ngModel)]="vehiculo.calificacion">
          </div>
        </div>
      </form>
      </div>
      <div class="row">
        <button type="button" class="btn btn-info" (click)="guardar()">Guardar</button>
    </div>
  </div>
</div>




 

-->
 
